@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Oswald:wght@200&family=Roboto+Condensed&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Roboto+Condensed:ital,wght@1,300&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Roboto+Condensed&family=Shippori+Antique+B1&display=swap');
body {
    background-color: #363637;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Shippori Antique B1', sans-serif;
    border: 2px;
    border-color: white;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
}
nav ul li {
    padding-left: 0;
    padding-right: 12px;
}
.brand img{
    width: 68px;
    padding-left: 0px;
    padding-right: 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    height: 250px;
    width: 250px;
    text-align: center;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    padding-right: 0%;
    color: white;
    border: 2px;
    cursor: pointer;
}
.container img {
    position:relative;
    height: 200px;
    width: 200px;
}
.container1 {
    height: 250px;
    width:250px;
    text-align: center;
    justify-content:center;
    position: relative;
    padding-top: 1px;
    padding-right: 0%;
    left: 260px;
    bottom: 250px;
    border: 2px;
    cursor: pointer;
    color: white;
}
.container1 img {
    position: relative;
    height: 200px;
    width: 200px;
}
.container2{
    height: 250px;
    width:250px;
    text-align: center;
    justify-content:center;
    position: relative;
    padding-top: 1px;
    padding-right: 0%;
    left: 520px;
    bottom: 500px;
    border: 2px;
    cursor: pointer;
    color: white;
}
.container2 img {
    position: relative;
    height: 200px;
    width: 200px;
}
.container3 {
   height: 200px;
   width: 200px;
   text-align: center;
   justify-content: center;
   position: relative;
   padding-top: 1px;
    padding-right: 0%;
   left: 800px;
   bottom: 750px;
   border: 2px;
   cursor: pointer;
   color: white;
}
.container3 img {
    position: relative;
    height: 200px;
    width: 200px;
}
.container4 {
    height:200px;
    width:200px;
    background-color: bisque;
    text-align: center;
    justify-content: center;
    position: relative;
    padding-top: 1px;
    padding-right: 0%;
    left:1050px;
    bottom: 950px;
    border: 2px;
    cursor: pointer;
    color: white;
}
.container4 img {
    position: relative;
    height: 200px;
    width: 200px;
}
.container5 {
    height:200px;
    width:200px;
    background-color: cadetblue;
    text-align:center;
    justify-content: center;
    position: relative;
    padding-top: 1px;
    padding-right: 0%;
    left:1300px;
    bottom: 1150px;
    border: 2px;
    cursor: pointer;
    color: white;
}
.container5 img{
    position: relative;
    height: 200px;
    width: 200px;
}
.songList {
    font-family: 'Estonia', cursive;
}
.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons {
    margin-top: 14px;
}
.icons i {
    cursor: pointer;
}
#myProgressBar {
    width: 80vw;

}
